
h2 {
    max-width: 800px;
    width: 100%;
    height: 120px;
    background-color: rgb(255, 173, 190);
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    width: 100%;
}

.coco {
    /* width: 800px;
    height: 1400px; */
    width: 100%;
}

/* body {
    width: 100%;
    margin: 0;
    padding: 0%;
} */

.container {
   width: 100%;
   margin: 0;
   padding: 0%;
   
}

/* HTML CSS Result Skip Results Iframe
@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 120%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  height: 50px;
  width: 500px;
    animation: mocchiri 3s infinite;
}
@keyframes mocchiri {
    0% {
        transform: scale(1, 0.8);
    }
    20% {
        transform: scale(0.8, 1.1);
    }
    95% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 0.8);
    }
}

a.btn-c {
  font-size: 1.8rem;

  position: relative;

  padding: 1.5rem 2rem 1.5rem 2rem;

  color: #fff;
  border-radius: 100vh;
  background: #6ad341;
  -webkit-box-shadow: 0 5px 0 #2d9729;
  box-shadow: 0 5px 0 #41a73e;
}

a.btn-c span {
  color: #fff100;
}

a.btn-c small {
  font-weight: bold;
}

a.btn-c i {
  margin-right: 1rem;
}

a.btn-c:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);

  color: #fff;
  background: #99ee7f;
  -webkit-box-shadow: 0 2px 0 #56e851;
  box-shadow: 0 2px 0 #6ae851;
} */

.green {
    width: 100%;
    height: 100%;
        animation: poyopoyo 2s ease-out infinite;
        opacity: 1;
      }
      @keyframes poyopoyo {
        0%, 40%, 60%, 80% {
          transform: scale(1.0);
        }
        50%, 70% {
          transform: scale(0.95);
        }
      
       
      
}

.footer {
    background-color: black;
    color: white;
    height: 30px;
    width: 1000px;
}